<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}!
  </h1>
  <img width="200" src="assets/img/icon.ico">
</div>
<br />
<div class="container">
<nav>
  <a routerLink="/deals">
<button class="btn btn-primary">View Deals</button></a>
  <a routerLink="/search">
<button class="btn btn-primary">Find Hotels and Flights</button></a>
</nav>
</div>

<router-outlet></router-outlet>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}!
  </h1>
</div>